body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.dpn {
    display: none !important;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.nav-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.nav-title img {
    height: 40px;
    margin-right: 10px;
}

nav .nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav a,
nav button {
    color: white;
    text-decoration: none;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#content {
    padding: 20px;
    flex: 1;
    margin-left: 0;
    margin-bottom: 4rem;
    transition: margin-left 0.3s;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
}

footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    color: #1e90ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    color: #d63384;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nav-right {
        display: none!important;
    }

    .hamburger {
        display: block!important;
    }
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    border-top: 1px solid #444;
    margin-bottom: 5px;
}

.sidebar a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: .5rem;
}

.sidebar-category {
    margin: 10px 0;
}

.sidebar-category-title {
    font-size: 20px;
    font-weight: bold;
    color: #e9e9e9;
    padding: 5px 15px;
    border-bottom: 1px solid #444;
    margin-bottom: 5px;
}

.sidebar-category a {
    font-size: 16px;
    padding: 10px 15px;
    padding-left: 30px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    border: none;
}
